{% extends 'base.html' %}


{% block body %}

<br>

<div class="button-group" style="padding: 0 50px">

  <a class="btn btn-primary" href="#" role="button">Laptops</a>
  <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

  <a href="#" class="btn btn-primary" role="button">Desktops</a>
  <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

  <a href="#" class="btn btn-primary btn-md" role="button">Mobiles</a>
  <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

</div>

<br>

<div class="table" style="padding: 0 50px">  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Model</th>
        <th>Price</th>
        <th>Status</th>
        <th>Issues</th>
      </tr>
    </thead>
  </div>

  <tbody>

  </tbody>
</table>

{% endblock %}
